; top-most EditorConfig file
root = true

[*]
charset = utf-8
; Unix-style newlines
end_of_line = LF
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.php]
indent_size = 4

[Makefile{.custom, .custom.dist}]
indent_style = tab
tab_width = 4

[*.{yml, yaml}]
indent_size = 2

[*.{js,jsx,ts,tsx}]
indent_size = 4

[*.html]
indent_size = 4

[*.graphql]
indent_size = 4
