node_modules
/build
*.log
.idea
*.tgz
.yarn/*
e2e/**/.yarn/*
examples/**/.yarn/*
website/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!/e2e/full-ivy-lib/node_modules
!/e2e/partial-ivy-lib/node_modules
