node_modules
/build
*.log
.idea
*.tgz
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
e2e/**/.yarn/*
!e2e/**/.yarn/cache
!e2e/**/.yarn/patches
!e2e/**/.yarn/plugins
!e2e/**/.yarn/releases
!e2e/**/.yarn/sdks
!e2e/**/.yarn/versions
!/e2e/full-ivy-lib/node_modules
!/e2e/partial-ivy-lib/node_modules
!/e2e/process-js-packages/node_modules
src/transformers/downlevel_decorators_transform
src/ngtsc
