# Tests
e2e
examples
performance

# sources are inlined
src
!build/ngtsc/reflection/src
!build/ngtsc/ts_compatibility/src

# Development scripts
scripts

# Github Pages
website

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Editor config
.vscode
.idea
.editorconfig

# CI
.github

# Generic config
*.config.*
.prettierignore
*.json

# Others
*.tgz
.npmignore
.npmrc
.gitattributes
.husky
.yarn/*
.yarnrc.yml
*.properties
