# Tests
e2e

# sources are inlined
src

# Developement scripts
scripts

# Github Pages
website

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Editor config
.vscode
.idea
.editorconfig

# CI
.github

# Eslint
.eslintignore
.eslintrc.js
commitlint.config.js
.prettierrc

# Internal jest config
jest.config.js
jest-esm.config.js

# Tsconfig
tsconfig.build.json
tsconfig.json
tsconfig.spec.json
tsconfig-esm.spec.json

# Others
*.tgz
.npmignore
.npmrc
.gitattributes
.husky
.yarn/*
.yarnrc.yml
