name: Code standard check

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      node:
        required: true
        type: string

permissions:
  contents: read

jobs:
  lint:
    runs-on: ${{ inputs.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 20
          fetch-tags: false

      - name: Restore cached node modules
        id: cache-yarn
        uses: actions/cache@v4
        with:
          path: |
            .yarn/cache
            node_modules
            examples/example-app-monorepo/node_modules
            examples/example-app-v15/node_modules
            examples/example-app-v17/node_modules
            examples/example-app-yarn-workspace/node_modules
          key: ${{ inputs.os }}-${{ inputs.node }}-build-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ inputs.node }}-build

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node }}

      - name: Run ESLint check
        run: yarn lint

      - name: Run Prettier check
        run: yarn lint-prettier-ci
